@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

.wrapper {
    width: 80%; /* Has to be the same than .outMenuDiv */
    margin: auto;
    min-width: 500px;
}

#pageContent {
    width: 100%;
}

.cursorPointer {
    cursor: pointer;
}

.breakParagraph {
    word-break: break-word;
}

/*Login*/

.greenText {
    color: limegreen;
}