#timeTrackerBox {
    text-align: center;
}

#trackingTimeDisplay {
    display: inline-block;
    padding: 20px 0 10px 0px;
    /*background: white;*/
    font-size: 3em;
    color: grey;

}

#activityTextArea {
    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: 1.3em;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
}

#activityTextArea:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

#toggleIconDiv {
    /*display: inline-block;*/
    width: 120px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

    /*padding: 20px;*/
}

#toggleIconDiv:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#toggleIcon {
    width: 25%;
    margin: 13px;
    vertical-align: middle;
    /*float: left;*/
    /*background: white;*/
}


#timeSheetTable {
    border-collapse: collapse;
    width: 100%;
}

#timeSheetTable th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: 500px;
}